$rojo: #b70102;
$separacion: 55px;

body {
  background-color: white;
}

h3 {
   font-family: 'Oswald',Arial;
   font-size: 34px;
   text-transform: uppercase;
   width: auto;
   line-height: 24px;
   color: #3c3c3c;
   font-weight: bold;
}

h4 {
  font-family: 'Oswald',Arial;
  color: #3c3c3c;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  width: auto;
  line-height: 24px;
}

.codeando {
  font-family: 'Titillium Web',Arial;
  font-size: 12px;
  font-weight: 700;
  color: $rojo;
}

.density {
  background-color: #eee;

  h2 {
   font-family: 'Oswald',Arial;
   font-size: 19px;
   text-transform: uppercase;
   width: auto;
   line-height: 24px;
   font-weight: bold;
  }
}


.nav-tabs {
  border-bottom: 5px solid $rojo;
  font-weight: bold;


    & > li > a {
      color: black;

      &:hover {
        border-color: #eeeeee #eeeeee transparent;
      }
    }

    & > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
      color: white;
      background-color: $rojo;
      border-bottom-color: transparent;
      font-weight: bold;
      margin: 0px;
    }
}

.row {
  margin-top: 15px;
}

.overview {
  font-family: 'Oswald',Arial;
  margin-bottom: $separacion;
  font-size: 16px;
}

.media {
  margin-top: 15px;
}

.media-body {
  font-family: 'Titillium web',Arial;
  font-size: 14px;
  color: #626262;
  font-weight: 600;
  margin-bottom: 20px;
}

.density + .container {
  margin-top: $separacion;
}

.linea-tiempo  {
  margin-top: $separacion;
}
